body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.HTMLOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
