body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.HTMLOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.NPCDialog {
    width: 100vw;
    max-width: 720px;
    height: 224px;
    background-color: #7b7b7b61;
    white-space: pre;
    padding: 8px;
}

.MapEditorOverlay {
    user-select: none;
    background-color: #70707071;
    width: 128px;
    padding: 8px;
}

.MapEditorOverlay .hidden {
    display: none;
}

.MapEditorOverlay .blockType {
    display: inline-block;
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
    border: 1px solid #575757;
    cursor: pointer;
}

.MapEditorOverlay .blockType.layered {
    position: relative;
}

.MapEditorOverlay .blockType.layered .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.MapEditorOverlay .blockType.addBlockType {
    vertical-align: top;
    line-height: 24px;
    text-align: center;
}

.MapEditorOverlay .blockType.selected {
    border-color: #1b58ff;
}

.MapEditorOverlay .canvasSize {
    background-color: #0000002a;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.dialogBox.form {
    display: block;
    position: fixed;
    background-color: #000000;
    width: auto;
    height: auto;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialogBox.form .field {
    display: block;
}
